.features {
  padding: 96px 0;
  width: 100%;
}

.features-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 24px;
  text-align: center;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 72px 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.features-item {
  display: block;
}

.features-icon-box {
  display: none;
  width: 264px;
  height: 112px;

  justify-content: center;
  align-items: center;

  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;

  margin-bottom: 8px;
}

.features-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0 0 8px 0;
  text-align: center;
}

.features-item-text {
  margin: 0;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media (min-width: 768px) and (max-width: 1157px) {
  .features {
    padding: 96px 0;
  }
  .features-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 72px 24px;
  }
  .features-item {
    align-items: flex-start;
  }
  .features-item-title {
    font-size: 36px;
    font-weight: 700;
    text-align: left;
  }
  .features-item-text {
    font-weight: 500;
    font-size: 16px;
  }
}

@media (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }
  .features-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 72px 24px;
  }
  .features-item {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .features-icon-box {
    display: flex;
    margin-bottom: 8px;
  }
  .features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
  .features-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
