.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
@media (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}
.team h3 {
  text-align: center;
}
.team h2 {
  text-align: center;
}
.team p {
  text-align: center;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
.team-card {
  width: 264px;
  flex: 0 0 264px;
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card-content {
  padding: 24px 16px;
}
.team .container {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}
.team-card img {
  display: block;
  width: 100%;
  height: auto;
}
.team-card h3 {
  margin-bottom: 8px;
}
.team h2 {
  margin-bottom: 72px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 16px;

  margin-top: 12px;
}

.social-link {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
  transform: scale(1.06);
}

.social-icon {
  color: #f4f4fd;
  width: 16px;
  height: 16px;
  display: block;
}
.team-card {
  box-shadow:
    0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}
.team-card:hover,
.team-card:focus-within {
  transform: translateY(-8px);
  box-shadow:
    0 6px 12px rgba(46, 47, 66, 0.08),
    0 2px 4px rgba(46, 47, 66, 0.06);
}
.team-list {
  grid-template-columns: 1fr;
  display: grid;
}

/* Tablet: 2 колонки */
@media (min-width: 768px) and (max-width: 1157px) {
  .team-list {
    grid-template-columns: repeat(2, 264px);
    justify-content: center;
    display: grid;

    column-gap: 24px;
    row-gap: 64px;
  }
}

/* Desktop: 4 колонки */
@media (min-width: 1158px) {
  .team-list {
    display: grid;
    grid-template-columns: repeat(4, 264px);
    gap: 24px;
  }
}
